/* ======== FONTS ======== */
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Black.woff2) format(woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ======== ICON FONTS ======== */
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/Icomoon/icomoon.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-icon);
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}

/* ======== GLOBAL VARIABLES ======== */
:root {
  --color-accent: #111b47;
  --color-accent-outline: #091133;
  --color-accent-logo: #37447e;
  --color-text: #6f7cb2;
  --color-text-big: #505f98;
  --color-text-small: #5d6970;
  --color-pricing-title: #222f65;
  --color-footer: #e7ecff;
  --color-company: #939ea4;
  --color-footer-menu: #929ecc;
  --color-icon: #b0b8bc;

  --header-height: 60px;
  --main-transition: 0.2s;
  --padding: 8px;
}

/* ======== RESET STYLES ======== */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #6f7cb2;
  line-height: 1.625;
}
body.lock {
  overflow: hidden;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1440px;
}
[class*="__container"] {
  padding-inline: var(--padding);
  max-width: calc(1108px + var(--padding));
  margin: 0 auto;
}
.main {
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
img,
svg {
  height: auto;
  max-width: 100%;
  display: block;
  user-select: text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}

/* ======== TEMPLATE BLOCKS ======== */
.button {
  --border-size: 2px;
  --padding-size: 4px;
  border: var(--border-size) solid var(--color-accent);
  padding-block: calc(var(--padding-size) - var(--border-size));
  border-radius: 2px;
  font-weight: 500;
  background-color: var(--color-accent);
  color: #fff;
  text-align: center;
  font-size: 14px;
  transition: background-color var(--main-transition), border-color var(--main-transition), color var(--main-transition);
}
.button:hover {
  background-color: var(--color-accent-outline);
  border-color: var(--color-accent-outline);
}
.button--outline {
  background-color: transparent;
  border-color: var(--color-accent-outline);
  color: var(--color-accent-outline);
}
.button--outline:hover {
  background-color: var(--color-accent-outline);
  color: #fff;
}
.button--small {
  font-size: 12px;
}
.button--big {
  font-size: 16px;
  --padding-size: 5px;
}

.block-content {
  max-width: 445px;
}
.block-content--big {
  max-width: 540px;
}
.block-content--center {
  text-align: center;
  max-width: 600px;
}
.block-content__title {
  font-size: clamp(1.75rem, 1.551rem + 0.995vw, 2.25rem);
  font-weight: 500;
  line-height: 1.33333333333;
  color: var(--color-accent-outline);
}
.block-content__title:not(:last-child) {
  margin-block-end: 8px;
}
.block-content__title--big {
  font-size: clamp(2.5rem, 2.2512rem + 1.2438vw, 3.125rem);
  letter-spacing: 1px;
  line-height: 1.32;
}
.block-content__title--big:not(:last-child) {
  margin-block-end: 20px;
}
.block-content__text {
  color: var(--color-text);
  display: flex;
  font-size: clamp(0.875rem, 0.8252rem + 0.2488vw, 1rem);
  flex-direction: column;
  row-gap: 10px;
}
.block-content__text--big {
  color: var(--color-text-big);
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 0.9502rem + 0.2488vw, 1.125rem);
  line-height: 1.66666666667;
  row-gap: 14px;
}
.block-content__text--big:not(:last-child) {
  margin-block-end: 69px;
}

.menu {
  display: flex;
  gap: 6px 60px;
}
.menu__link {
  font-size: 14px;
  font-weight: inherit;
}
/* ======== HEADER ======== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color var(--main-transition) ease-out;
  z-index: 2;
}
.header.scrolled {
  background-color: #fff;
}
.header__container {
  grid-template-columns: repeat(2, min-content);
  height: var(--header-height);
  display: grid;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.menu-header__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.71428571429;
  transition: color var(--main-transition), border var(--main-transition);
  border-bottom: 2px solid transparent;
}
.menu-header__link:hover,
.menu-header__link:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.header__logo {
  color: var(--color-accent-logo);
  font-weight: 900;
  font-size: 26px;
}
.header__button {
  flex-grow: 1;
  line-height: 1.46153846154;
}
.header__actions {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 6px 10px;
  width: 170px;
}
.header__logo,
.header__actions {
  z-index: 3;
}
.header__burger {
  width: 40px;
  height: 26px;
  position: relative;
}
.header__burger:before,
.header__burger:after,
.header__burger > span {
  content: "";
  --line-height: 3px;
  height: var(--line-height);
  position: absolute;
  transition: transform var(--main-transition), opacity var(--main-transition), top var(--main-transition), bottom var(--main-transition);
  left: 0;
  width: 100%;
  background-color: #091133;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger > span {
  top: calc(50% - var(--line-height) / 2);
}
.header__burger.active::before {
  transform: rotate(-45deg);
  top: calc(50% - var(--line-height) / 2);
}
.header__burger.active::after {
  transform: rotate(45deg);
  bottom: calc(50% - var(--line-height) / 2);
}
.header__burger.active span {
  opacity: 0;
}

/* ======== MAIN ======== */
.hero {
  position: relative;
  overflow: hidden;
  padding-block: calc(clamp(1.25rem, -1.6964rem + 14.7321vw, 11.5625rem) + var(--header-height)) clamp(1.25rem, 0.0536rem + 5.9821vw, 5.4375rem);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(assets/image/hero-background.svg) 0 0 no-repeat;
  width: 70.5%;
  height: 1112px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px 10px;
  position: relative;
}
.hero__body {
  padding-block-start: 0;
}
.hero__block-content:not(:last-child) {
  margin-block-end: clamp(0.9375rem, -0.0268rem + 4.8214vw, 4.3125rem);
}
.hero__actions {
  display: flex;
  flex-wrap: wrap;
  max-width: 408px;
  gap: 10px 30px;
}
.actions-hero__button {
  padding-inline: 20px;
  flex: 1 1 189px;
}
.hero__image {
  margin-inline-end: -171px;
}

.advantages {
  padding-block: clamp(1.25rem, -0.9639rem + 11.0697vw, 6.8125rem);
}
.advantages__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 10px;
}
.advantages__block-content:not(:last-child) {
  margin-block-end: clamp(1.25rem, -0.2425rem + 7.4627vw, 5rem);
}
.advantages__cards {
  display: flex;
  flex-direction: column;
  gap: 16px 30px;
}
.advantages__card {
  max-width: unset;
}
.card-advantages__image:not(:last-child) {
  margin-block-end: 14px;
}
.card-advantages__title {
  color: var(--color-accent-outline);
  font-weight: 500;
}
.card-advantages__text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-text-small);
}

.intro {
  padding-block: clamp(1.875rem, -0.4136rem + 11.4428vw, 7.625rem) clamp(1.875rem, -0.6126rem + 12.4378vw, 8.125rem);
}
.intro__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 16px 20px;
}
.intro__image {
  align-self: flex-end;
}
.intro__block-content:not(:last-child) {
  margin-block-end: 16px;
}
.intro__button {
  height: 32px;
  min-width: 100%;
}

.price {
  position: relative;
  padding-block: clamp(1.875rem, -4.4683rem + 31.7164vw, 17.8125rem) clamp(1.875rem, -1.6573rem + 17.6617vw, 10.75rem);
}
.price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(assets/image/price__background.svg) no-repeat;
  width: 100%;
  height: 100%;
}
.price__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.price__design:not(:last-child) {
  margin-block-end: clamp(1.5rem, 1.2264rem + 1.3682vw, 2.1875rem);
}
.design-price__title {
  color: var(--color-pricing-title);
}
.design-price__title:not(:last-child) {
  margin-block-end: 0;
}
.design-price__subtitle {
  color: var(--color-accent-logo);
}
.price__block-content {
  margin: 0 auto;
}
.price__block-content:not(:last-child) {
  margin-block-end: clamp(1rem, 0.5274rem + 2.3632vw, 2.1875rem);
}
.actions-price__title {
  font-size: 14px;
  line-height: 1.71428571429;
  color: var(--color-text-small);
}
.actions-price__title:not(:last-child) {
  margin-block-end: 9px;
}
.actions-price__button {
  width: 100%;
  height: 32px;
}

/* ======== FOOTER ======== */
.footer {
  background-color: var(--color-footer);
}
.footer__subfooter {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 133px min-content 133px;
  padding-block: clamp(1.875rem, 1.1039rem + 3.8557vw, 3.8125rem) clamp(1.25rem, 0.7525rem + 2.4876vw, 2.5rem);
}
.subfooter__company {
  color: var(--color-company);
  font-size: 14px;
  line-height: 1.71428571429;
}
.subfooter__button {
  height: 26px;
  min-width: 109px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px 32px;
  gap: 20px;
}
.body-footer__menu {
  column-gap: clamp(0.625rem, -0.6188rem + 6.2189vw, 3.75rem);
}
.body-footer__menu__link {
  color: var(--color-footer-menu);
}
.body-footer__social {
  display: flex;
  gap: 10px 30px;
}

/* ======== MEDIA QUERY ======== */
@media (min-width: 440px) {
  .advantages__cards {
    flex-direction: unset;
  }
  .advantages__card {
    max-width: 255px;
  }
  .intro__button {
    min-width: 150px;
  }
  .intro__block-content:not(:last-child) {
    margin-block-end: 40px;
  }
  .actions-price__button {
    width: 189px;
  }
}
@media (max-width: 439.98px) {
  .design-price__subtitle {
    font-size: 12px;
  }
  .footer__subfooter {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .footer__body {
    flex-direction: column;
  }
  .body-footer__social {
    align-self: center;
  }
  .footer__body {
    align-items: unset;
  }
  .body-footer__menu {
    justify-content: space-between;
    padding-inline: 30px;
  }
  .body-footer__menu__link {
    font-size: 16px;
    font-weight: 500;
  }
  .subfooter__button {
    min-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    position: relative;
  }
  .header__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: var(--header-height);
    background-color: #fff;
    z-index: 1;
  }
  body.lock .header__container::before {
    transform: translate(-100%);
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    transition: transform var(--main-transition);
    overflow: scroll;
    margin-block-start: var(--header-height);
    padding: calc(20px + var(--header-height)) 10px;
    background-color: #fff;
    text-align: center;
  }
  .header__menu.active {
    transform: translate(-100%);
  }
  .header__button {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  /* ======== HEADER ======== */
  .header__container {
    --menu-width: 245px;
    grid-template-columns: var(--menu-width) min-content var(--menu-width);
  }
  .menu-header__link {
    font-size: 14px;
    font-weight: inherit;
  }
  .header__menu {
    flex-wrap: wrap;
  }
  .header__actions {
    width: 160px;
  }
  .header__burger {
    display: none;
  }
  .block-content__title:not(:last-child) {
    margin-block-end: 16px;
  }
}
@media (max-width: 911.98px) {
  .hero__block-content {
    max-width: unset;
  }
  .hero__image {
    align-self: flex-end;
    margin-inline-end: -8px;
  }
  .hero__block-content__title:not(:last-child) {
    margin-block-end: 10px;
  }
  .advantages__container {
    flex-direction: column;
    align-items: unset;
  }
  .advantages__image {
    align-self: flex-end;
  }
  .card-advantages__text {
    font-size: 13px;
  }
  .advantages__block-content {
    max-width: unset;
  }

  .intro__block-content {
    max-width: unset;
  }
}
@media (min-width: 912px) {
  .hero__container {
    flex-direction: unset;
  }
  .hero__body {
    padding-block-start: 58px;
  }
  .intro__container {
    flex-direction: unset;
    align-items: center;
  }
}
